<%- include("partials/header"); -%>
<h1>About</h1>
<p> <%= aboutContent %> </p>
<p>
  I am a Flexographic printer and Team Leader working for a large flexible plastic packaging company with over 25 years experience,
</p>
<p>
  passionate about web development and app development having passed the CIW Master program.
</p>
<p>
  This WebSite has the node.js javascript runtime with Express server framework and EJS embedded javascript templating with Mongo database connectivity.
</p>
<%- include("partials/footer"); -%>
